.home {
  background-color: black;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
  text-align: center;
}

/* ===== Movie Grid Section ===== */
.movie-grid {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: 160px;
  box-sizing: border-box;
  padding: 0 20px;
}
/* ===== Fixed Header ===== */
.header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;
  padding: 20px 0px;
  border-bottom: 1px solid #222;
}

/* Center title and search inside fixed header */
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 10px;
}

.search-box {
  margin-bottom: 0;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}




.movie-card {
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Remove underline + enforce white color */
.movie-card,
.movie-card:link,
.movie-card:visited {
  text-decoration: none !important;
  color: white !important;
}

.movie-card:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #222;
}

.movie-card h3 {
  padding: 10px;
  font-size: 1rem;
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

/* Optional hover effect */
.movie-grid a:hover h3 {
  color: #f5f5f5;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;
  padding: 20px 0px;
  border-bottom: 1px solid #222;
}
